.position {
    color: white;
}
.list-head {
    background-color: #565656;
}
.tariffs-style-position {
    top: 100px;
}
.head-tariff-word {
    position: relative;
    top: 100px;
}
.contacts__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    color: black;
}
.tariff__wrapper {
    width: auto;
    padding: 0 18px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.tariff-margin {
    width: 300px;
    height: 400px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 30px;
    cursor: default;
    overflow: hidden;
    position: relative;
    z-index: 25;
}
.tariff__block {
    text-align: center;
    margin: 0 22px;
}
.tariff__block {
    color: #252525;
    font-size: 0;
    text-align: center;
    margin: 0 22px;
}
.tariff__wrapper {
    width: auto;
    padding: 0 18px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.tariff1 {
    width: 275px;
    height: 400px;
    display: inline-block;
    background-color: #f2f3f4;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 30px;
    cursor: default;
    overflow: hidden;
    position: relative;
    z-index: 25;
}