.exit-button-position {
   right: 0px;
    left: auto;

}
.margin-inline-end {
    margin: 0 250px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 991.11px) {
    .margin-inline-end {
        position: relative;
        left: -15px;
        margin-left: 0px;
    }
}