.text-client-info {
position: center;
    font-size: 30px;
}
.style-name {
    position: relative;
}
.p {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}
.save-position {
    margin-top: 20px;
}
.top-client {
    top: 400px;
}