
.person-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;
}

.person-details .person-image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.person-details .list-group-item {
    padding: .25rem;
}

.person-details .list-group-item .term{
    margin-right: .5rem;
}
.card-position {
    top: 60px;
    font-size: large;
}
.main-block-right {
    position: relative;
}
.pay-button-position {
    position: relative;
    left: 30px;
    margin-top: 30px;
}
.payOn {
    position: relative;
    top: 20px;
    width: 300px;
}
.tariff__wrapper {
    width: auto;
    padding: 0 18px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.tariff-margin {
    width: 300px;
    height: 400px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 30px;
    cursor: default;
    overflow: hidden;
    position: relative;
    z-index: 25;
}
.tariff__block {
    text-align: center;
    margin: 0 22px;
}