.Bottom-position {
    position: absolute;
    left: 0px;
    width: 100%;
}
.footer {
    background-color: #3a3e64;
}
.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
.footer__block {
    width: 33.33333%;
    padding: 0 15px;
    text-align: center;
}
.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.copyright {
    padding: 20px 0;
    background-color: #313454;
}
.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}