.top1 {
  top: 100px;
  font-size: xx-large;
}
.pay-position {
  top: 20px;
  position: relative;
  width: 100%;
}
.pay-button {
  position: relative;
  top: 30px;
  left: 0px;
  width: 100%;
}
.border {
  border-radius: 3px;
}