.text-client-info {
position: center;
    font-size: 30px;
}
.style-name {
    position: relative;
}
.p {
    margin-top: 10px;
    margin-bottom: 0px;
}
/*.style-surename {*/

/*}*/
/*.style-middlename {*/

/*}*/
/*.style-login {*/

/*}*/
/*.style-phone {*/

/*}*/
/*.style-email {*/

/*}*/